<div id="<%= dom_id bathroom %>">
  <p id="address">
    <strong>Address:</strong>
    <%= bathroom.address %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= bathroom.hours %>
  </p>

  <%if bathroom.accessible == true %>
    <p>
      <strong>Wheelchair accessible</strong>
    </p>
  <% end %>

  <%if bathroom.gender_neutral == true %>
    <p>
      <strong>Gender neutral bathrooms available</strong>
    </p>
  <% end %>

  <%if bathroom.family_accessible == true %>
    <p>
      <strong>Family accessible</strong>
    </p>
  <% end %>

  <%if bathroom.purchase_required == false %>
    <p>
      <strong>Free to use!</strong>
    </p>
  <%else%>
    <p>
      <strong>Purchase required</strong>
    </p>
  <% end %>


</div>
