<p style="color: green"><%= notice %></p>

<h1>Bathrooms</h1>

<div id="bathrooms">
  <% @bathrooms.each do |bathroom| %>
    <%= render bathroom %>
    <p>
      <%= link_to "Show this bathroom", bathroom %>
    </p>
  <% end %>
</div>

<%= link_to "New bathroom", new_bathroom_path %>
