<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'landing_page' %>
</head>

<body>
  <div id="landing-page" class="container">
    <header id="landing-header">
      <nav>
        <h1>Right2Restrooms</h1>
        <ul>
          <li><a href="/users/sign_in">Sign In</a></li>
        </ul>
      </nav>
    </header>
    
    <section id="hero" class="landing-section">
      <h2>Welcome to Right2Restrooms!</h2>
      <p>We help you locate your nearest public restrooms in Chicago. We are an inclusive community, you can search for bathrooms that are gender-neutral, wheelchair accessible, family-friendly, and free to use!</p>
      <a href="/users/sign_int" class="btn">Join us</a>
    </section>

    <section id="features" class="landing-section">
      <div class="container">
        <h2>Features</h2>
        <p>Search for your nearest restrooms that fit your needs</p>
        <p>Add reviews to share information with your fellow users</p>
        <div class="video-gallery">
          <video width="560" height="315" controls>
            <source src="app/assets/images/Demo1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="video">
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="landing-section">
      <h2>About Us</h2>
      <p>Introduce your team and your mission.</p>
    </section>

    <section id="contact" class="landing-section">
      <h2>Contact Us</h2>
      <p>Get in touch with us for any inquiries or support.</p>
    </section>

    <footer id="landing-footer">
      <p>&copy; 2024 Your App Name. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
