    <div id="header">
      <div class="topnav">
      <img src="/assets/Right2RestroomsLogo.png" alt="person sitting on the letters R2R">
      <h1 id="logo">Right2Restrooms</h1>
      <p>Find the public bathroom YOU need!</p>
      <div id="myLinks">
          <% if user_signed_in? %>
            <a href="/users/<%=current_user.id%>">My Favorites</a>
          <%else%>
            <a href="/users/sign_in">Sign in</a>
          <% end %>
          <a href="/">Home</a>
          <a href="/bathrooms/new">Add a new bathroom</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars fa-2xl"></i>
        </a>
      </div>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
      }
    </script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
      var logo = document.getElementById('logo');
      var screenWidth = window.innerWidth;

      if (screenWidth <= 1024) {
        logo.textContent = 'R2R';
      }
    });

    </script>
