#add-link{
  text-align: center;
  padding: 10px;
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 500;
}

.topnav {
  background-color: #3B5912;
  color: white;
  font-family: "Nunito", sans-serif;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  padding-top: 30px;
  background: #76B223;
  color: black;
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
  background-color: #76B223;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #76B223;
  color: white;
}

#add-link a:visited {
  color: #3B5912;
}

#address{
  font-size: 20px;
}
#bathrooms-list{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding: 40px;
}
#new-bath-form{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding: 30px;
  line-height: 2.2;
}

#new-bath-form input{
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

#new-header-and-link{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding-top: 10px;
  padding-left: 30px;
}

#bathrooms-list h2{
  color: #76B223;
  font-family: "Nunito", sans-serif;
  margin-bottom: 15px;
}
.btn{
  background-color: #76B223;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
}

#map{
  display: block;
  padding-top: 80px;
  height: 400px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

#search-form{
  text-align: center;
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding: 30px;
  line-height: 2.2;
}
#search-form input {
  width: 15%;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  color: #76B223;
}

#bathrooms-show{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  padding-left: 30px;
  margin-top: 40px;
}

#user-profile{
  color: #76B223;
  font-family: "Nunito", sans-serif;
}

#user-profile h1{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding-left: 30px; 
  text-align: center;
}

#pagination{
  color: #3B5912;
  font-family: "Nunito", sans-serif;
  padding: 3px;
  margin-left: 25px;
  font-size: 18px;
}

#button{
  display: block;
  margin: auto;
  background-color: #3B5912;
  color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  height: 30px;
  width: 90px;
  margin-bottom: 30px;
}
