html, body {
  margin: 0;
  padding: 0;
}

#header{
  text-align: center;
  background-color: #76B223;
  color: white;
  padding: 10px;
  margin: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif
}
